@import url("./assets/interFont/inter.css");
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200");
@import "tailwindcss";

@theme {
    --color-lazuli: oklch(72.307% 0.09949 236.7);
    --color-lazuli-50: oklch(96.095% 0.02494 181.28);
    --color-lazuli-100: oklch(93.974% 0.03864 188.53);
    --color-lazuli-200: oklch(89.384% 0.06164 199.92);
    --color-lazuli-300: oklch(81.939% 0.0773 216.03);
    --color-lazuli-400: oklch(72.307% 0.09949 236.7);
    --color-lazuli-500: oklch(60.147% 0.14211 254.22);
    --color-lazuli-600: oklch(47.394% 0.16688 264.02);
    --color-lazuli-700: oklch(36.528% 0.16048 269.81);
    --color-lazuli-800: oklch(28.106% 0.13612 274.77);
    --color-lazuli-900: oklch(22.355% 0.09389 285.47);
    --color-lazuli-950: oklch(19.132% 0.06998 292.16);
}

* {
    font-family: "Inter", sans-serif;
    @apply text-lazuli-900
}

html {
    @reference "tailwindcss";
    @apply h-full bg-linear-to-b from-lazuli-200 to-lazuli-400
}

h1 {
    @apply text-center font-black text-2xl text-lazuli-900;
}

header {
    @apply fixed bg-yellow-50 shadow-lg shadow-lazuli-500/50 rounded-b-lg min-w-64 flex-row flex justify-center p-2 gap-4
}

#header-img {
    @apply w-50 h-20 drop-shadow-md drop-shadow-amber-900/20 hover:drop-shadow-md hover:drop-shadow-amber-400/50
}
.headercont {
    @apply w-full flex justify-center
}

nav {
    @apply flex items-center flex-row
}

nav a {
    @apply font-bold px-4 h-auto hover:text-shadow-amber-400/20 hover:text-shadow-md
}

nav a:not(:last-child) {
    @apply border-r-2 border-amber-200
}