@import url("./assets/interFont/inter.css");
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200");
@import "tailwindcss";

@theme {
    --color-lazuli: oklch(72.307% 0.09949 236.7);
    --color-lazuli-50: oklch(96.095% 0.02494 181.28);
    --color-lazuli-100: oklch(93.974% 0.03864 188.53);
    --color-lazuli-200: oklch(89.384% 0.06164 199.92);
    --color-lazuli-300: oklch(81.939% 0.0773 216.03);
    --color-lazuli-400: oklch(72.307% 0.09949 236.7);
    --color-lazuli-500: oklch(60.147% 0.14211 254.22);
    --color-lazuli-600: oklch(47.394% 0.16688 264.02);
    --color-lazuli-700: oklch(36.528% 0.16048 269.81);
    --color-lazuli-800: oklch(28.106% 0.13612 274.77);
    --color-lazuli-900: oklch(22.355% 0.09389 285.47);
    --color-lazuli-950: oklch(19.132% 0.06998 292.16);
}

* {
    font-family: "Inter", sans-serif;
    @apply text-lazuli-900
}

html {
    @reference "tailwindcss";
    @apply h-full bg-linear-to-b from-lazuli-200 to-lazuli-400 bg-fixed
}

h1 {
    @apply text-center font-black text-2xl text-lazuli-900;
}

header {
    @apply fixed bg-yellow-50 shadow-lg shadow-lazuli-500/50 rounded-b-lg min-w-64 flex-row flex p-2 gap-4 z-40 w-160 justify-center
}

footer {
    @apply fixed bottom-0 bg-yellow-50 shadow-lg shadow-lazuli-500/50 rounded-t-lg min-w-64 flex-row flex p-2 h-10 gap-4 z-40 w-160 justify-center 
}

footer p {
    @apply text-xs
}

footer a {
    @apply text-lazuli-600 
}

img {
    @apply drop-shadow-md drop-shadow-amber-900/20
}

#header-img {
    @apply w-50 h-20 drop-shadow-md drop-shadow-amber-900/20 hover:drop-shadow-md hover:drop-shadow-amber-400/50
}
.headercont, .footercont {
    @apply w-full flex justify-center 
}

nav {
    @apply flex items-center flex-col sm:flex-row
}

nav a {
    @apply font-bold px-4 h-auto hover:text-shadow-amber-400/20 hover:text-shadow-md
}

nav a:not(:last-child) {
    @apply border-r-2 border-amber-200
}

.maincontainer {
    @apply translate-y-25 w-full flex-col pb-10
}

.card {
    @apply bg-amber-50 rounded-lg max-w-140 min-w-80 m-4 p-4 justify-self-center shadow-lg shadow-lazuli-500/50 leading-6
}

.introcontent {
    @apply grid grid-cols-2 items-center 
}

.card:nth-of-type(even) {
    @apply bg-lazuli-50
}

.imagecaptions {
    @apply flex flex-col
}

img.border {
    @apply fixed border-none w-auto invisible md:visible
}

#border-l {
    @apply shadow-lg shadow-lazuli-500/50 top-0 left-0 md:w-10 lg:w-20
}

#border-r {
    @apply shadow-lg shadow-lazuli-500/50 top-0 right-0 md:w-10 lg:w-20
}

.img-left {
    @apply float-left w-64 h-64 pr-4 object-fill }

.img-right {
    @apply float-right w-64 h-64 right-0 pl-8 object-fill
}

.introcontent p {
    @apply w-full 
}

.imagecaptions h1 {
    @apply mb-2
}

.hero {
    background-image:
        linear-gradient(#2953b8a0, #160b30),
        url("./assets/ahmet-koç-hero.png");
    @apply rounded-lg max-w-160 min-w-80 m-4 p-4 justify-self-center shadow-lg shadow-lazuli-500/50 h-100 bg-cover flex items-center justify-center flex-col
}

.hero-text, .hero-text *{
    @apply text-center text-lazuli-50 text-xl
}

.title {
    @apply font-black text-4xl
}

#order {
    @apply bg-linear-to-b from-amber-100 to-lazuli-300 p-4 m-4 rounded-lg font-bold hover:ring-5 hover:ring-amber-300/30 hover:text-shadow-lg hover:text-shadow-lazuli-600/10
}

p { @apply text-sm sm:text-base text-justify}
code {
    @apply p-1 text-sm rounded-sm bg-lazuli-300/50
}

#loc {
    @apply list-decimal text-center flex flex-col justify-center
}

#loc img {
    @apply justify-self-center object-scale-down w-full
}

form {
    @apply justify-center w-full text-right grid grid-rows-6 grid-cols-[200px_1fr] gap-2
}

input {
    @apply shadow-lg shadow-lazuli-500/50 p-2 rounded-lg w-60 text-left -translate-y-2 w-full
}

input[type=text], input[type=email], input[type=date] {
    @apply bg-white 
}

input[type=date] {
    @apply w-40
}

.submit {
    @apply bg-linear-to-b from-lazuli-500 to-lazuli-700 w-20 text-amber-50 font-bold justify-self-end text-center hover:ring-5 hover:ring-amber-300/30 hover:text-shadow-lg hover:text-shadow-lazuli-600/10
}